{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 120,
  "overrides": [
    {
      "files": "apps/free-dom/src/pages/games/memory/*.{ts,tsx}",
      "excludeFiles": "*.spec.{ts,tsx}",
      "options": {
        "printWidth": 80
      }
    }
  ]
}
