* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #03040e;
  font-family: 'Orbitron', monospace;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

#c {
  display: block;
  touch-action: none;
}
